{% extends 'MsiCmfBundle::layout.html.twig' %}

{% block title %}{{ 'Sign In'|trans }}{{ parent() }}{% endblock title %}

{% block body %}
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            {% if block('brand')|length > 0 %}
                <a class="brand" href="{{ path('msi_cmf_dashboard') }}">{{ block('brand') }}</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="sidebar">
    </div>
    <div id="content">
        <div class="well" style="background: url(/bundles/msicmf/img/ajax-loader.gif) no-repeat center center #fff;width: 392px;min-height: 362px;">
            {#<div id="overlay" style="display: none;margin: 122px auto auto;text-align: center;">
                <ul>
                  <li class="li1"></li>
                  <li class="li2"></li>
                  <li class="li3"></li>
                  <li class="li4"></li>
                  <li class="li5"></li>
                  <li class="li6"></li>
                </ul>
            </div>#}
            {% trans_default_domain 'FOSUserBundle' %}
            <form action="{{ path('fos_user_security_check') }}" method="POST" style="background: #fff;margin-bottom: 0;">
                <h2>{{ block('title') }}</h2>
                <hr>
                {% if error %}
                    <div class="alert fade in alert-danger"><button type="button" class="close" data-dismiss="alert">×</button>{{ error|trans }}</div>
                {% endif %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <label for="username">{{ 'Email'|trans }}</label>
                <input class="span5" type="text" id="username" name="_username" value="{{ last_username }}" />
                <label for="password">{{ 'Password'|trans }}</label>
                    <input class="span5" type="password" id="password" name="_password" />
                <div class="row-fluid">
                    <div class="span6">
                        <label class="checkbox" for="remember_me">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                        </label>
                    </div>
                    <div class="span6 text-right">
                        <a href="{{ path('fos_user_resetting_request') }}">{{ 'Forgot password?'|trans }}</a>
                    </div>
                </div>
                <div class="form-actions" style="margin-bottom: 0;">
                    <input class="btn btn-large" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/msicmf/css/login.css') }}">
{% endblock css %}

{% block js %}
{{ parent() }}
<script>
    var $form = $('form');
    $form.on('submit', function(e) {
        $form.hide();
        $('#overlay').show();
    });
</script>
{% endblock %}
