{% extends 'MsiCmfBundle::layout.html.twig' %}

{% block title %}{{ 'Login'|trans }}{{ parent() }}{% endblock title %}

{% block body %}
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            {% if block('brand')|length > 0 %}
                <a class="brand" href="{{ path('msi_cmf_dashboard') }}">{{ block('brand') }}</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="sidebar"></div>
    <div id="content">
        <div id="overlay" style="display: none;">
            <ul>
              <li class="li1"></li>
              <li class="li2"></li>
              <li class="li3"></li>
              <li class="li4"></li>
              <li class="li5"></li>
              <li class="li6"></li>
            </ul>
        </div>
        <div class="god" style="display: visible;">
            {% trans_default_domain 'FOSUserBundle' %}
            {% if error %}
                <div class="alert alert-danger">{{ error|trans }}</div>
            {% endif %}
            <form action="{{ path("fos_user_security_check") }}" method="POST" class="well" style="width: 392px;">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <label for="username">{{ 'Email'|trans }}</label>
                <input class="span5" type="text" id="username" name="_username" value="{{ last_username }}" />
                <label for="password">{{ 'Password'|trans }}</label>
                    <input class="span5" type="password" id="password" name="_password" />
                <div class="row-fluid">
                    <div class="span6">
                        <label class="checkbox" for="remember_me">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                        </label>
                    </div>
                    <div class="span6 text-right">
                        <a href="{{ path('fos_user_resetting_request') }}">{{ 'Forgot password?'|trans }}</a>
                    </div>
                </div>
                <input class="btn btn-large" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/msicmf/css/login.css') }}">
{% endblock css %}

{% block js %}
{{ parent() }}
<script>
    var $form = $('form');
    $form.on('submit', function(e) {
        $form.hide();
        $('#overlay').show();
    });
</script>
{% endblock %}
